<div class="comment-top">
    <h4>Yorum yaz</h4>
    <div class="comment-bottom">
        <form action="~/Comment/PartialAddComment" method="post">
            <input style="color: #01CD74" class="form-control" type="text" name="CommentUserName" placeholder="Ad" required="">
            <input class="form-control" style="color: #01CD74"  type="text" name="CommentTitle" placeholder="Mövzu" required="">
            <textarea class="form-control" style="color: #01CD74"  name="CommentContent" placeholder="Mesaj..." required=""></textarea>
            <button type="submit" class="btn btn-primary submit">Göndər</button>
        </form>
    </div>
</div>

