@using EntityLayer.Concrete
@model List<Blog>
<div class="col-lg-4 footer-grid-agileits-w3ls text-left">
    <div class="tech-btm">
        <h3>Son bloglar</h3>
        @foreach (var item in Model)
        {
        <div class="blog-grids row mb-3">
            <div class="col-md-5 blog-grid-left">
                <a href="/Blog/BlogReadAll/@item.BlogId">
                    <img src="~/web/images/@item.BlogImage" class="card-img-top img-fluid" alt="@item.BlogTitle">
                </a>
            </div>
            <div class="col-md-7 blog-grid-right">
                <h5>
                    @if (item.BlogContent.Length >= 51)
                    {
                        <a href="/Blog/BlogReadAll/@item.BlogId">@item.BlogContent.Substring(0, item.BlogContent.Substring(0, 50).LastIndexOf(" ")).... </a>
                    }
                    else
                    {
                        <a href="/Blog/BlogReadAll/@item.BlogId">@item.BlogContent.... </a>
                    }
                </h5>
                <div class="sub-meta">
                    <span>
                        <i class="far fa-clock"></i> @(((DateTime)item.BlogCreateDate).ToString("dd-MMM-yyyy"))
                    </span>
                </div>
            </div>
        </div>
        }
    </div>
</div>
