
@{
    ViewBag.Title = "EduFileStock/Öyrən,öyrət,paylaş!";
    ViewBag.ogtitle = "Hər kəs üçün pulsuz təhsil!";
    ViewBag.description = "HƏR KƏSƏ SALAM YENI LAYIHƏ ILƏ QARŞINIZDAYIQ. ƏSAS MƏQSƏDIMIZ ILKIN MƏRHƏLƏDƏ INTERNET ÜZƏRINDƏN MÜXTƏLIF MÖVZULARDA DƏYƏRLI RESURSLARI BIR ARAYA TOPLAMAQ,ONLARI DAHA ƏLÇATAN ETMƏK VƏ YENI BILGILƏR ÖYRƏNMƏK ISTƏYƏN INSANLARA RAHATLIĞI TƏMIN ETMƏKDIR. TƏQDIM EDILƏN RESURSLAR ISƏ TAMAMIYLƏ PULSUZDUR.GƏLƏCƏKDƏ DAHA UĞURLU INKIŞAF YOLU TUTMAQ NIYYƏTI ILƏ. #PULSUZTƏHSILHƏRKƏSÜÇÜN";
    Layout = "~/Views/Shared/Site.cshtml";
}
<div class="content full-height" data-pagetitle="Home slider">
    <div class="fl-wrap full-height hero-conatiner">
        <div class="hero-wrapper fl-wrap full-height hidden-item">
            <span class="hc_dec"></span>
            <div class="hero-slider-wrap home-half-slider fl-wrap full-height">
                <div class="hero-slider fs-gallery-wrap fl-wrap full-height">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="half-hero-wrap">
                                    <div class="hhw_header">BİZİM SAYTIMIZA XOŞ GƏLMİŞSİNİZ</div>
                                    <h1>Ana səhifəyə  - <br><span> baxış</span> <br></h1>
                                    <div class="clearfix"></div>
                                    <a href="~/Site/Index" class="btn ajax  fl-btn color-bg"><span>Ana səhifə</span></a>
                                </div>
                            </div>
                            <!-- swiper-slide end-->
                            <!-- swiper-slide-->
                            <div class="swiper-slide">
                                <div class="half-hero-wrap">
                                    <div class="hhw_header">BİZİM SAYTIMIZA XOŞ GƏLMİŞSİNİZ</div>
                                    <h1>Bizim haqqımızda daha çox məlumat əldə <span>edin </span>  <br> </h1>
                                    <div class="clearfix"></div>
                                    <a href="~/Site/about" class="btn ajax  fl-btn color-bg"><span>Haqqımızda</span></a>
                                </div>
                            </div>
                            <!-- swiper-slide end-->
                            <!-- swiper-slide-->
                            <div class="swiper-slide">
                                <div class="half-hero-wrap">
                                    <div class="hhw_header">BİZİM SAYTIMIZA XOŞ GƏLMİŞSİNİZ</div>
                                    <h1>Bizimlə əlaqə <span>qurun                                         
                                          </span>  <br> </h1>
                                    <div class="clearfix"></div>
                                    <a href="~/Site/contact" class="btn ajax  fl-btn color-bg"><span>Əlaqə</span></a>
                                </div>
                            </div>
                            <!-- swiper-slide end-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- hero-slider-wrap  end-->
            <!-- hero-slider-img-->
            <div class="hero-slider-img hero-slider-wrap_halftwo hidden-item">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <!-- swiper-slide-->
                        <div class="swiper-slide">
                            <div class="bg" data-swiper-parallax="20%">
                                <img src="~/Content/images/bg/13.jpg" />
                            </div>
                            <div class="overlay"></div>
                        </div>
                        <!-- swiper-slide end-->
                        <!-- swiper-slide-->
                        <div class="swiper-slide">
                            <div class="bg" data-swiper-parallax="20%">
                                <img src="~/Content/images/bg/13.jpg" />
                            </div>
                            <div class="overlay"></div>
                        </div>
                        <!-- swiper-slide end-->
                        <!-- swiper-slide-->
                        <div class="swiper-slide">
                            <div class="bg" data-swiper-parallax="20%">
                                <img src="~/Content/images/bg/13.jpg" />
                            </div>
                            <div class="overlay"></div>
                        </div>
                        <!-- swiper-slide end-->
                        <!-- swiper-slide-->
                        <div class="swiper-slide">
                            <div class="bg" data-swiper-parallax="20%">
                                <img src="~/Content/images/bg/13.jpg" />
                            </div>
                            <div class="overlay"></div>
                        </div>
                        <!-- swiper-slide end-->
                    </div>
                </div>
                <div class="hero-corner-dec"></div>
                <div class="hero-corner-dec2"></div>
            </div>
            <!-- hero-slider-img  end-->
            <!-- slider-controls -->
            <div class="slider-progress-bar">
                <span>
                    <svg class="circ" width="50" height="50">
                        <circle class="circ2" cx="25" cy="25" r="23" stroke="rgba(255,255,255,0.4)" stroke-width="1" fill="none" />
                        <circle class="circ1" cx="25" cy="25" r="23" stroke="#fff" stroke-width="2" fill="none" />
                    </svg>
                </span>
            </div>
            <div class="clone-counter">
                <div class="current">01</div>
            </div>
            <div class="swiper-counter hs_counter">
                <div class="current">01</div>
                <div class="total"></div>
            </div>
            <div class="hero-slider_control-wrap">
                <div class="hsc hsc-prev"><span><i class="fal fa-angle-left"></i></span> </div>
                <div class="hsc hsc-next"><span><i class="fal fa-angle-right"></i></span></div>
            </div>
            <!-- slider-controls end-->
            <a href="~/Site/about" class="ajax start-btn"><span> Haqqımızda <i class="fal fa-long-arrow-right"></i></span></a>
            <div class="play-pause_slider hsc_pp auto_actslider"><i class="fas fa-play"></i></div>
        </div>
        <!-- hero-container end-->
        <div class="hero-decor-numb"><span>40.409264 </span><span>49.867092</span> <a href="https://www.google.com.ua/maps/" target="_blank" class="hero-decor-numb-tooltip">EduFileStock</a></div>
        <div class="hero-slider-wrap_pagination"></div>
        <div class="hero-scroll-down-notifer">
            <div class="scroll-down-wrap ">
                <div class="mousey">
                    <div class="scroller"></div>
                </div>
            </div>
            <i class="far fa-angle-down"></i>
        </div>
    </div>
</div>

